<?xml version="1.0"?>
<config>
    <modules>
        <Attila_Tasksecond>
            <version>0.1.0</version>
        </Attila_Tasksecond>
    </modules>
    <layout>
        <updates>
            <tasksecond>
                <file>local.xml</file>
            </tasksecond>
        </updates>
    </layout>
</config>